body{
	font: 13px/20px Arial, sans-serif;
	margin: 0;
}

header{
	/*background: red;*/
	/*padding: 20px;*/
	/*width: 100%;*/
}

div{
	position: relative;
}

h1{
	padding: 10px 10px 0 0;
	font-family: 'Lucida Grande', 'Lucida Sans', Lucida, sans-serif; 
	letter-spacing: .1em;
	margin: 20px 0 0 0;
}

.main-concept h1, .project h1{
	word-wrap: break-word;
	text-align: center;
	position: relative;
	top: 35%;
	margin: 0;
	padding: 0;
}

.project-detail h1{
	margin-left: 25px;
}

h2{
	padding: 2px 10px 10px 35px;
	font: 16px/22px Garamond, serif; 
	margin: 0;
}

h3{
	padding: 30px;
	font-weight: bold;
	font-size: 16px;
	margin: 0;
}

h4{
	padding: 0 10px 0 20px;
}

p{
	padding: 0 10px 0 30px;
}

.main{
	/*position: relative;*/
	margin-left: 100px;
	margin-right: 300px;
}

#ext-links{
	/*margin-left: 100px;*/
	background: #aaa;
	/*width: 15%;*/
	position: fixed;
	bottom: 0;
	right: 0;
	top: 0;
	padding-right: 25px;
}

footer{
	clear: both;
}

.main-concept, .project{
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 1px solid #020202;
}

.main-concept{
	background: red;
}

.project{
	background: blue;
}

.project-detail, .detail-container{
	position: absolute;
	width: 600px;
	height: 500px;
	background: rgba(87, 64, 64, 0.5);
}

#tech{
	left: 0;
	top: 100px;
}

#ed{
	left: 500px;
	top: -50px;
}

#art{
	left: 400px;
	top: 300px;
}
#terminus{
	left: 320px;
	top: 120px;
}
#meet{
	left: 250px;
	top: 45px;
}

li{
	list-style: none;
}

.close-btn{
	background: #202020;
	/*position: absolute;*/
	float: right;
	z-index: 3;
}