body{
	font: 13px/20px Arial, sans-serif;
	margin: 0;
}

header{
	/*background: red;*/
	/*padding: 20px;*/
	/*width: 100%;*/
}

div{
	position: relative;
}

h1{
	padding: 10px 10px 0 0;
	font-family: 'Lucida Grande', 'Lucida Sans', Lucida, sans-serif; 
	letter-spacing: .1em;
	margin: 0;
}

.main-concept h1, .project h1{
	word-wrap: break-word;
	text-align: center;
	position: relative;
	top: 40%;
	padding: 0;
	letter-spacing: 0em;
	font-size: 20px;
}

.project-detail h1{
	margin-left: 25px;
}

h2{
	padding: 2px 10px 10px 35px;
	font: 16px/22px Garamond, serif; 
	margin: 0;
}

h3{
	padding: 10px;
	font-weight: bold;
	font-size: 16px;
	margin: 0;
}

h4{
	padding: 0 10px 0 20px;
}

p, ul.detail-list{
	padding: 0 30px 0 30px;
}

ul.detail-list{
	padding-left: 60px;
}

.detail-text{
	color: #CFCFCF;
}

.main{
	/*position: relative;*/
	margin-left: 100px;
	margin-right: 300px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#ext-links{
	/*margin-left: 100px;*/
	background: #EBF882;
	/*width: 15%;*/
	position: fixed;
	bottom: 0;
	right: 0;
	top: 0;
	padding-right: 25px;
}

footer{
	clear: both;
}

.main-concept, .project{
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 1px dashed #020202;
	/*cursor: pointer;*/
	-webkit-box-shadow: 0 0 10px #353030;
       -moz-box-shadow: 0 0 10px #353030;
         -o-box-shadow: 0 0 10px #353030;
            box-shadow: 0 0 10px #353030;
}

.main-concept{
	background: #FFBAB7;
	-webkit-transform: scale(.85);
       -moz-transform: scale(.85);
         -o-transform: scale(.85);
            transform: scale(.85);
}

.project{
	background: #5D8BB2;
/*	background: -webkit-linear-gradient(#7474E2, #474788);
	background:    -moz-linear-gradient(#7474E2, #474788);
	background:     -ms-linear-gradient(#7474E2, #474788);
	background:      -o-linear-gradient(#7474E2, #474788);
	background:         linear-gradient(#7474E2, #474788);*/
	cursor: pointer;
}

.project-detail, .detail-container{
	position: absolute;
	width: 600px;
	height: 600px;
	/*background: #9ED2FF;*/
	/*background: #5D8BB2;*/
	background: #4B708F;
	border-radius: 1%;
}

#tech{
	left: 0;
	top: 100px;
}

#ed{
	left: 500px;
	top: -50px;
}

#art{
	left: 400px;
	top: 300px;
}
#terminus{
	left: 320px;
	top: 120px;
}
#meet{
	left: 250px;
	top: 45px;
}

.links-list{
	/*display: inline;*/
	/*overflow: hidden;*/
	padding: 0;
}

.links-list-item{
	margin: 10px 10px 10px 10px;
}

.custom-list-item{
	list-style: none;
}

button{
	position: relative;
	float: right;
	z-index: 3;
	cursor: pointer;
	border-radius: 5%;
	text-align: center;
	border: none;
	/*background: -webkit-linear-gradient(#C7CC6A, #AFB266);
	background:    -moz-linear-gradient(#C7CC6A, #AFB266);
	background:     -ms-linear-gradient(#C7CC6A, #AFB266);
	background:      -o-linear-gradient(#C7CC6A, #AFB266);
	background:         linear-gradient(#C7CC6A, #AFB266);*/
	background: -webkit-linear-gradient(#BCC486, #ADB286);
	background:    -moz-linear-gradient(#BCC486, #ADB286);
	background:     -ms-linear-gradient(#BCC486, #ADB286);
	background:      -o-linear-gradient(#BCC486, #ADB286);
	background:         linear-gradient(#BCC486, #ADB286);
	margin: 10px;
}

.thumbnail{
	width: 150px;
	margin: 15px;
	/*border: 1px solid #c6c9cc;*/
}

.ext-logo-link{
	vertical-align: middle; 
	border: 0;
}

#linkedin_logo{
	width: 160px;
	height: 33px;
}

#github_logo{
	width: 147px;
	height: 26px;
}

#flickr_logo{
	width: 147px;
	height: 26px;
}

img{
	display: block;
}

.home-container{
	height: 400px;
	/*background: red;*/
	position: relative;
}