<header class="main">
	<!-- <span class="left-float-content"> -->
	<h1>Michele Pratusevich</h1>
	<h2>engineer, instructor, traveler</h2>
	<!-- </span> -->

	<!-- <span class="right-float-content"> -->
	<ul class="links-list"> 
	<li class="links-list-item custom-list-item"><a href="https://github.com/mprat" target="_blank"><img id="github_logo_mini" class="ext-logo-link" src="imgs/github-mark-32px.png" alt="View Michele Pratusevich's GitHub page"></a></li>
	<li class="links-list-item custom-list-item"><a href="http://www.flickr.com/photos/mpratland/" target="_blank"><img id="flickr_ext_link" class="ext-logo-link flickr_logo_mini" src="imgs/white-small-chiclet.png" alt="Michele Pratusevich's Flickr photostream"></a></li>
	<li class="links-list-item custom-list-item"> <a href="http://www.linkedin.com/pub/michele-pratusevich/19/859/43b" target="_blank"><img id="linkedin_logo_mini" class="ext-logo-link" src="imgs/linkedin_btn_in_20x15.png" alt="View Michele Pratusevich's LinkedIn profile"></a> </li>
	<li class="links-list-item custom-list-item"><a id="resume_link" href="docs/resume.pdf" target="_blank">Resume (PDF)</a></li>
	</ul>
	<!-- </span> -->

</header>