---
layout: default
---

<div class="home-container">

<p>Back to the <a href="{{ site.url }}/{{ page.categories | join: '/' }}">{{ page.project_title }}</a> project page.</p>

{% include post_box.html post=page full=true %}

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'mprat';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>


{% include all_posts.html project_id=page.project_id project_title=page.project_title %}

</div>