---
layout: default
---

<div class="home-container">

<!-- <div class="btn-container">
	<button class="home-btn"><h3>Home</h3></button>
</div> -->

<div class="project-detail detail-display" id="{{ page.project_id }}-detail">
<h1> {{ page.project_title }}: </h1><h2> {{ page.project_tagline }}</h2>
<p class="detail-text">Terminus is a text-based adventure game that teaches users how to use terminal commands.</p>
</div>

{{ content }}

<div class="project-detail detail-display">
<h1>All Posts</h1>
<!-- <ul class="detail-list"> -->
 {% for post in site.posts %}
 	{% if post.categories contains page.project_id %}
		      <p>{{ post.date | date: "%Y %B %-d" }} -- <a href="{{ post.url }}">{{ post.title }}</a></p>
	{% endif %}
  {% endfor %}
 <!-- </ul> -->
 </div>

</div>